@charset "UTF=8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(bisque, black); 
}

header {
  background-color: rgb(222, 189, 42);
}

.container {
  max-width: 800px;
  background-color: white;
  margin: auto;
}

img {
  max-width: 600px;
}

